/* Sidebar-Hintergrund */
.sidebar {
  width: 300px; /* 340px zu breit für mobile, 300px passt! */
  float: left;
  padding: 20px; 

  background-image: url('./assets/sidebarbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  text-align: center;
  font-size: 60px; /* Test Size ob´s größer wird - Fail */
  color: black;
}

.sidebar h2 {
  text-align: center;
  font-size: 24px;
  color: rgb(255, 94, 161);
}

.sidebar a:hover {
  color: rgb(255, 94, 161); 
}